# STORE DATABASE
STORE_DB_NAME=store
STORE_DB_ROOT_USER=root
STORE_DB_NON_ROOT_USER=crud
STORE_DB_AGENT_USER=agent
STORE_DB_HOST_PORT=5432

# CHAT DATABASE
CHAT_DB_NAME=chats
CHAT_DB_ROOT_USER=root
CHAT_DB_NON_ROOT_USER=crud
CHAT_DB_HOST_PORT=5433

# CHAT CACHE
CHAT_CACHE_HOST_PORT=6379

# OLLAMA LOAD BALANCER
OLLAMA_HOST_PORT=11434

# EMBEDDINGS API
EMB_API_HOST_PORT=8001
TOKENIZER_MODEL=Qwen/Qwen2.5-3B-Instruct
EMBEDDINGS_MODEL=BAAI/bge-small-en-v1.5

# APP API
APP_API_HOST_PORT=8000